

body{
  background-color: #f1f1f1;
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  margin-bottom: 700px;
}
.translate{
  text-align: right;
}
.headhr{
  background-color: black;
  height: 30px;
}
